{% extends "admin_base.html" %}

{% block content %}

<h1 class="page-title">Upload Timetable Files</h1>
<p class="page-subtitle">Upload all required input files</p>

<form class="upload-form" method="POST" enctype="multipart/form-data">

  <div class="upload-grid">
    <div>
      <label>Class Strength</label>
      <input type="file" name="class_strength" required>
    </div>

    <div>
      <label>Room Mapping</label>
      <input type="file" name="room_mapping" required>
    </div>

    <div>
      <label>Class Type</label>
      <input type="file" name="class_type" required>
    </div>

    <div>
      <label>Teacher Subject Mapping</label>
      <input type="file" name="teacher_subject" required>
    </div>

    <div>
      <label>Parallel Classes</label>
      <input type="file" name="parallel_classes" required>
    </div>

    <div>
      <label>Timetables</label>
      <input type="file" name="timetables" required>
    </div>
  </div>

  <button type="submit" class="primary-btn">Upload All Files</button>

</form>

{% endblock %}
